body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #f0f0f0;
}

header {
    background: #2c3e50;
    color: white;
    padding: 25px;
    text-align: center;
}

.content {
    width: 75%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
}

.content h2 {
    font-family: "Playfair Display", serif;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.gallery img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0003;
}

.back-btn {
    text-align: center;
    margin: 20px;
}

.back-btn a {
    color: #2c3e50;
    font-weight: bold;
    text-decoration: none;
}
/* ---- CAROSELLO ---- */
.carousel {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 25px;
}

.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel img.active {
    opacity: 1;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
    margin-top: 40px;
}
